.App {
  height: 100vh;
}

.imgContainer {
  position: relative;
  background: url("wound.png");
  width: 1080px;
  height: 1920px;
}

.dot {
  background: #FFFFFF;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.dot:hover {
  cursor: pointer;
}
